#line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 2px;
  background: rgb(0,0,0); /* black */
  /* center the element's origin; we include translate here so rotation happens about the center */
}
